@using ChessClassLib.Enums;

<div class="input-group mb-3 bordered @(CurrentPlayer == PieceColor.White ? "playing" : "")">
    <div class="input-group-prepend">
        <span class="input-group-text custom-span white">
            @(UserPlayer == PieceColor.White ? L["you"] : UserPlayer == PieceColor.Black ? L["opponent"] : L["player1"])
        </span>
    </div>
    <input type="text" disabled class="form-control" value=@Player1 />
</div>

<div class="input-group mb-3 bordered @(CurrentPlayer == PieceColor.Black ? "playing" : "")">
    <div class="input-group-prepend">
        <span class="input-group-text custom-span black">
            @(UserPlayer == PieceColor.Black ? L["you"] : UserPlayer == PieceColor.White ? L["opponent"] : L["player1"])
        </span>
    </div>
    <input type="text" disabled class="form-control" value=@Player2/>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text custom-span">@L["varient"]</span>
    </div>
    <input type="text" disabled class="form-control" value=@GameVarient />
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text custom-span">@L["time"]</span>
    </div>
    <input type="text" disabled class="form-control" value=@MinutesPerSide />
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text custom-span">@L["increment"]</span>
    </div>
    <input type="text" disabled class="form-control" value=@IncrementInSeconds/>
</div>