@inherits GameOptionsFormBase

<EditForm Model="@GameOptions" OnValidSubmit="@HandleValidSubmit" class=" mb-3">
    <DataAnnotationsValidator />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text custom-span">@L["game_varient"]</span>
        </div>
        <InputSelect disabled="@IsDisabled" class="form-control" @bind-Value=GameOptions.GameVarient>
            <option value=@GameVarient.Standard>@L["game_varient.standard"]</option>
        </InputSelect>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text custom-span">@L["seconds_per_side"]</span>
        </div>
        <InputNumber disabled="@IsDisabled" class="form-control" @bind-Value="GameOptions.SecondsPerSide" />
    </div>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text custom-span">@L["increment_in_seconds"]</span>
        </div>
        <InputNumber disabled="@IsDisabled" class="form-control" @bind-Value=GameOptions.IncrementInSeconds />
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text custom-span">@L["side"]</span>
        </div>
        <InputSelect disabled="@IsDisabled" class="form-control" @bind-Value=GameOptions.Side>
            <option value=@Side.White>@L["side.white"]</option>
            <option value=@Side.Black>@L["side.black"]</option>
            <option value=@Side.Random>@L["side.random"]</option>
        </InputSelect>
    </div>
    @if(!IsDisabled) {
        <button type="submit" class="btn btn-primary">@L["button.create"]</button>
        <button type="button" class="btn btn-danger" @onclick="HandleCancelClicked">@L["button.cancel"]</button>
    }


</EditForm>